<!DOCTYPE html>
<html>
  <head>
    <title>EasyPaste - Create a paste</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a href ="/" class="navbar-brand">C# to MSIL converter</a>

        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse navHeaderCollapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Contact</a></li>
          </ul>
        </div>

      </div>
    </div>

      <div class="row-fluid">
        <div class="col-md-5 col-md-offset-3">
          <form role="form" action="/index" method="post">
            <form class="form-inline" role="form">
	            <div class="form-group">
	              <label for="inputTitle">Assembly references</label>
	              <textarea class="form-control" style="resize:vertical;" rows="5" maxlength="10240" name="txtReferences">
System</textarea><br>
	            </div>
	            <label for="inputTitle">Your C# code</label>
	            <textarea class="form-control" style="resize:vertical;" rows="20" maxlength="10240" name="txtCode">
public static void MyFunction(string[] args) {
	foreach(var str in args) {
		Console.WriteLine(str);
	}
	Console.ReadLine ();
}
</textarea><br>
	            <button type="submit" class="btn btn-primary pull-right">Submit your code!</button>
          </form>
        </div>
      </div>
    </div>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
  </body>
</html>
